body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url('resources/img/rug_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: #333;
}

h1 {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 
                 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
    animation: glow 1.5s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 
                     0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
    }
    50% {
        text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff69b4, 
                     0 0 40px #ff69b4, 0 0 50px #ff69b4, 0 0 60px #ff69b4, 0 0 70px #ff69b4;
    }
    100% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 
                     0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
    }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 2;
}
.connect-wallet-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #007bff, #0056b3);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.connect-wallet-btn:hover {
    background: linear-gradient(90deg, #0056b3, #007bff);
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.connect-wallet-btn:active {
    transform: translateY(0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.connect-wallet-btn span {
    margin-left: 8px; /* Space between the icon and text */
}

.connect-wallet-btn div {
    width: 18px; /* Adjust icon size */
}
.connect-wallet-btn.connected {
    background: linear-gradient(90deg, #28a745, #218838); /* Green for connected */
}
.tabs-container {
    margin-bottom: 1rem;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 2px solid #ddd;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 0.75rem 0;
    display: none;
    font-size: 1rem;
    color: #555;
    background-color: transparent;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    border-bottom: 3px solid transparent;
}

.tab-button.active {
    color: #0e0e0e;
    border-bottom: 3px solid #000000;
}
.tab.active {
    display: block;
}

.tab-button:hover {
    background-color: #fdc3ff;
}
.tab-button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}
.tab-button, .button {
    border: none;
    
    
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s ease;
}
.button {
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 1.5rem 3.5rem;
}
.place-bet-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

.withdraw-btn, .claim-rewards-btn {
    background-color: #f44336; /* Red */
    color: white;
    margin-left: 10px;
}
.button:hover {
    background: #45a049;
}
.button:disabled, .button.disabled {
    background-color: #cccccc; /* Light gray */
    color: #666666; /* Darker gray */
    cursor: not-allowed; /* Changes cursor to a disabled icon */
    pointer-events: none; /* Disables hover effects */
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

label {
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
    text-align: left;
    color: #333;
}
.token-display {
    display: flex;
    justify-content: center;
    animation: glow 1.5s infinite;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling the token icon */
.token-icon {
    font-size: 30px;
    color: white;
}

/* Styling the token amount */
.token-amount {
    font-size: 36px;
    font-weight: bold;
    color:white;  /* Green color for tokens */
}
#connectWallet {
    margin-bottom: 1rem;
}
#notificationBanner {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#notificationBanner.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

#notificationBanner.hidden {
    opacity: 0;
    transform: translateX(-50%) translateY(-50px);
}
.success {
    background-color: rgba(0, 128, 0, 1); /* Green */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
}

.error {
    background-color: rgba(255, 0, 0, 1); /* Red */
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5);
}
#transactionDetails {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    display: none;
    z-index: 1000;
}

#transactionDetails.visible {
    display: block;
}
/* Background bouncing images */
.bouncing-image {
    position: absolute;
    width: 150px; 
}
#im1{
    animation: bounce1 10s infinite;
}
#im2{
    animation: bounce2 8s infinite;
}
#im3{
    animation: bounce3 12s infinite;
}
.matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.matrix-canvas {
    display: block;
}
#textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: none; /* Initially hidden */
}

.fade-text {
    display: block;
    font-family: "Arial", sans-serif;
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-out;

}

.fade-text.small {
    font-size: 50px;
    animation: fade-in-scale 1.5s forwards, glow 1.5s infinite;
}

.fade-text.medium {
    font-size: 80px;
    animation: fade-in-scale 1.5s 1s forwards, glow 1.5s infinite;
}

.fade-text.large {
    font-size: 120px;
    animation: fade-in-scale 1.5s 2s forwards, glow 1.5s infinite;
}
.active-players-bar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #111;
    color: #0f0;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    z-index: 10;
    border-bottom: 2px solid #333;
}

.active-players-bar p {
    margin: 0;
}
/* Fade and scale animation */
@keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes bounce1 {
    0% {
        transform: translate(0vw, 0vh) scale(1);
    }
    25% {
        transform: translate(calc(10vw - 50%), calc(25vh - 50%)) scale(1.2);
    }
    50% {
        transform: translate(calc(30vw - 50%), calc(40vh - 50%)) scale(1.5);
    }
    75% {
        transform: translate(calc(50vw - 50%), calc(20vh - 50%)) scale(1.8);
    }
    100% {
        transform: translate(0vw, 0vh) scale(1);
    }
}
@keyframes bounce2 {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(40vw, -10vh) scale(1.2);
    }
    50% {
        transform: translate(0vw, 40vh) scale(1.8);
    }
    75% {
        transform: translate(-40vw, -10vh) scale(1);
    }
}
@keyframes bounce3 {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10vw, -50vh) scale(0.9);
    }
    50% {
        transform: translate(-10vw, 50vh) scale(1.7);
    }
    75% {
        transform: translate(-40vw, -44vh) scale(1.1);
    }
}